<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crud Using Bootstrap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
    <style>
        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .card {
            padding: 30px 40px;
            margin-top: 60px;
            margin-bottom: 60px;
            border: none !important;
            box-shadow: 0 6px 12px 0 rgba(16, 16, 16, 0.2);
        }

        .blue-text {
            color: #00bcd4;
        }

        .form-control-label {
            margin-bottom: 0;
        }

        input,
        textarea,
        button {
            padding: 8px 15px;
            border-radius: 5px !important;
            margin: 5px 0px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300;
        }

        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00bcd4;
            outline-width: 0;
            font-weight: 400;
        }

        .btn-block {
            text-transform: uppercase;
            font-size: 15px !important;
            font-weight: 400;
            height: 43px;
            cursor: pointer;
        }

        .btn-block:hover {
            color: #fff !important;
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0;
        }
    </style>
</head>

<body>
    <h3 class="text-center text-success text-opacity-75 mt-2">Search Employee Details</h3>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-opacity-75">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/search">SEARCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/update">UPDATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/delete">DELETE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/view">VIEW</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/view">VIEW STUDENT</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid  mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-12 text-center">
                {{!-- <h3>Fill This Employee Data</h3> --}}
                <div class="card">
                    
                    <form class="form-card" action="/searchdata">
                        <div class="d-flex justify-content-start gap-2">

                            <div class="form-group h-100 mx-sm-3 mb-2">
                                <input type="text" class="form-control" name="fname" id="fname" placeholder="Search by Employee Name">
                            </div>
                            <button type="submit" class="btn btn-success h-75 mb-2">Search</button>

                        </div>

                        {{#if srchdata}}
                        <div class="table-responsive mt-2">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">FName</th>
                                        <th scope="col">LName</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile No</th>
                                        <th scope="col">Job</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {{#srchdata}}
                                    <tr>
                                        <th scope="row">{{this.emp_id}}</th>
                                        <td>{{fname}}</td>
                                        <td>{{lname}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phonenumber}}</td>
                                        <td>{{job}}</td>
                                        <td>{{salary}}</td>
                                    </tr>
                                    {{/srchdata}}
                                </tbody>
                            </table>
                        </div>
                        {{/if}}

                        {{#if srchnodata}}
                            <h4>No Data Found.😣😣</h4>
                        {{/if}}

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>